[submodule "zh-cn-to-tw-backend"]
	path = zh-cn-to-tw-backend
	url = https://github.com/beethoreven/zh-cn-to-tw-backend.git
[submodule "zh-cn-to-tw-web"]
	path = zh-cn-to-tw-web
	url = https://github.com/beethoreven/zh-cn-to-tw-web.git
[submodule "zh-cn-to-tw-ocr-service"]
	path = zh-cn-to-tw-ocr-service
	url = https://github.com/beethoreven/zh-cn-to-tw-ocr-service.git
[submodule "zh-cn-to-tw-mac"]
	path = zh-cn-to-tw-mac
	url = https://github.com/beethoreven/zh-cn-to-tw-mac.git
